<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a4b9b6bddc7a510f463a73370180219' type='text/javascript'%3E%3C/script%3E"));
</script>


<div class="center_wrapper">
  <div>
    <a href="mailto:{{site.email}}">Contact</a>, <a href="/privacy/">Privacy Policy</a>
  </div>
  <div>
    Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
    <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
    <span class="credit">, with theme <a href="https://github.com/rcmdnk/octogray">octogray</a></span>
  </div>
</div>
